$bg-dark: #182229;
$font-light: #f5f8fe;
$font-family: Overlock;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 24px;

$padding-sm: 4px;
$padding-md: 8px;
$padding-lg: 16px;
$padding-xl: 32px;